<nav class="sidebar h-screen " *ngIf="isVisibleSidebar">
  <ul class="menu bg-base-200 border border-base-300 bg-base-100 rounded-box p-1 h-full flex flex-col justify-between">

    <div class="flex justify-center avatar pt-2 flex-shrink-0">
      <div class="w-13">
        <img src="assets/images/logo.png" />
      </div>
    </div>
    <div class="border-b border-base-300 mb-3 pb-2 flex-shrink-0"></div>

    <div class="flex-1 overflow-y-auto overflow-x-hidden">
      <li>
        <a routerLink="/dashboard" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 mt-1 m-2"
          data-tip="Dasboard">
          <lucide-icon name="gauge"></lucide-icon>
        </a>
      </li>

      <li>
        <a routerLink="/campaigns" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="Campaigns">
          <lucide-icon name="megaphone"></lucide-icon>
        </a>
      </li>
      <li>
        <a routerLink="/templates" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="Templates">
          <lucide-icon name="layout-template"></lucide-icon>
        </a>
      </li>
      <li>
        <a routerLink="/groups" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="groups & users">
          <lucide-icon name="users"></lucide-icon>
        </a>
      </li>
      <li>
        <a routerLink="/smtp-servers" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="SMTP Servers">
          <lucide-icon name="server"></lucide-icon>
        </a>
      </li>
      <li>
        <a routerLink="/email-templates" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="Email templates">
          <lucide-icon name="mailbox"></lucide-icon>
        </a>
      </li>
      <li>
        <a routerLink="/heatmaps" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="Heatmaps">
          <lucide-icon name="flame"></lucide-icon>
        </a>
      </li>
    </div>


    <div class="flex-shrink-0">
      <li>
        <a routerLink="/config" routerLinkActive="menu-active" class="tooltip tooltip-right p-3 m-2 mt-2"
          data-tip="Settings">
          <lucide-icon name="settings"></lucide-icon>
        </a>
      </li>
    </div>

  </ul>
</nav>