<div class="min-h-screen flex items-center justify-center bg-base-200">
    <div class="w-full max-w-md mx-auto p-6 bg-base-100 shadow-xl rounded-lg  border-base-300 border">
        <div class="text-center mb-4">
            <div class="flex items-center justify-center text-center space-x-1 mb-2">
                <h1 class="text-primary sm:text-4xl md:text-xl font-bold text-lg select-none">Flexphish</h1>
                <span class="text-secondary font-semibold select-none">UI</span>
            </div>
            <img src="./assets/images/logo.png" width="100px" alt="bettercap - Logo" class="mx-auto mb-2">
            <p class="text-sm text-gray-500">
                {{ env.name }} v{{ env.version }}
            </p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div *ngIf="error && submitted" class="alert alert-error alert-soft">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <span *ngIf="error.status == 401">
                    Wrong username or password.
                </span>

                <span *ngIf="error.status == 0">
                    Can't connect to API: {{ api.settings.URL() }}
                </span>

                <span *ngIf="error.status != 0 && error.status != 401">
                    {{ error.error || error.message }}
                </span>
            </div>

            <div>
                <label class="input input-border flex max-w-none items-center gap-2 w-full mt-2" for="username">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                        class="h-4 w-4 opacity-70">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z">
                        </path>
                    </svg>
                    <input type="text" class="grow w-full input input-bordered " placeholder="Username" id="username"
                        formControlName="username">
                    <div *ngIf="submitted && submitted && username.errors?.['required']"
                        class="text-error text-sm mt-1">
                        Username required.
                    </div>

                </label>
            </div>

            <div>
                <label class="input input-border flex max-w-none items-center gap-2 w-full mt-2" for="password">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                        class="h-4 w-4 opacity-70">
                        <path fill-rule="evenodd"
                            d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <input id="password" type="password" formControlName="password"
                        class="input input-bordered w-full grow" placeholder="Password">
                    <div *ngIf="submitted && submitted && password.errors?.['required']"
                        class="text-error text-sm mt-1">
                        Password required.
                    </div>
                </label>
            </div>

            <div>
                <label class="label" for="url">
                    <span class="label-text">API URL</span>
                </label>
                <input id="url" type="text" formControlName="url" class="input input-bordered w-full">
            </div>

            <button class="btn btn-primary w-full"><lucide-icon size="18" name="log-in"></lucide-icon>
                Login</button>
        </form>
    </div>
</div>